#site_wrapper #navbar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 100%;
  -webkit-animation: fadeInLeft 0.5s;
          animation: fadeInLeft 0.5s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#site_wrapper #navbar nav {
  background-color: #c8a088;
  border-right: 2px solid #5a3c2a;
  height: 100vh;
  position: fixed;
  width: 200px;
}

#site_wrapper #navbar nav #logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #5a3c2a;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  text-decoration: none;
}

#site_wrapper #navbar nav #logo_container span {
  color: #e8d8ce;
}

#site_wrapper #navbar nav #logo_container span sup {
  position: relative;
  color: #D8BCAB;
  font-size: 2em;
  border: 1px solid #D8BCAB;
  padding: 0.1em;
  z-index: 0;
  line-height: 0;
  top: 0;
}

#site_wrapper #navbar nav #logo_container span sup:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 3px solid #D8BCAB;
}

#site_wrapper #navbar nav #logo_container:hover {
  background-color: #c8a088;
}

#site_wrapper #navbar nav #logo_container:hover span sup {
  color: #5a3c2a;
  border-color: #5a3c2a;
}

#site_wrapper #navbar nav #logo_container:hover span sup:before {
  color: #5a3c2a;
  border-color: #5a3c2a;
}

#site_wrapper #navbar nav ul {
  padding-left: 1em;
  padding-right: 1em;
}

#site_wrapper #navbar nav ul li {
  height: 100%;
  margin-top: 1.5em;
}

#site_wrapper #navbar nav ul li a {
  height: 100%;
  width: 100%;
  display: block;
}

#site_wrapper #navbar nav .nav_btn {
  font-size: 1.25em;
  color: #5a3c2a;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
}

#site_wrapper #navbar nav .nav_btn:hover {
  color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn:active:before, #site_wrapper #navbar nav .nav_btn:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact {
  font-size: 1.25em;
  color: #5a3c2a;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
  border-top: 1px solid #5a3c2a;
  border-bottom: 1px solid #5a3c2a;
  position: relative;
}

#site_wrapper #navbar nav .nav_btn_contact:hover {
  color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active:before, #site_wrapper #navbar nav .nav_btn_contact:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  top: -6px;
  width: 100%;
  left: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  bottom: -6px;
  left: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:hover:before, #site_wrapper #navbar nav .nav_btn_contact:hover:after {
  background-color: #e8d8ce;
}

#site_wrapper #navbar nav .nav_btn_contact:hover {
  border-color: #e8d8ce;
}

#site_wrapper #navbar nav .nav_btn_contact:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active:before, #site_wrapper #navbar nav .nav_btn_contact:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .li_contact {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

#site_wrapper #navbar nav .social_icons_ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner {
  text-align: center;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner .nav_social {
  font-size: 3em;
  color: #5a3c2a;
  text-align: center;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner .nav_social:hover i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #e8d8ce;
}

#site_wrapper main .navbar_burger {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #5a3c2a;
  border: 2px solid #e8d8ce;
}

#site_wrapper main .navbar_burger .hamburger-box .hamburger-inner {
  background-color: #e8d8ce;
}

#site_wrapper main .navbar_burger .hamburger-box .hamburger-inner:before, #site_wrapper main .navbar_burger .hamburger-box .hamburger-inner:after {
  background-color: #e8d8ce;
}

@media (min-width: 767.98px) {
  #site_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .navbar_burger {
    display: none;
  }
  #navbar {
    display: block;
  }
}

@media (max-width: 767.98px) {
  #navbar {
    display: none;
  }
}

main #banner {
  height: 100vh;
  background-image: url("../images/banner/pexels-artem-podrez-7233316.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #banner .banner_text {
  text-align: center;
  margin: auto;
}

main #banner .banner_text h1,
main #banner .banner_text h2 {
  color: #5a3c2a;
}

main #banner #scroll_down {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: auto;
}

main #banner #scroll_down a {
  display: inline-block;
  margin-bottom: 20px;
  color: #5a3c2a;
  padding: 0px 10px;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

main #banner #scroll_down a:hover {
  background-color: #5a3c2a;
  color: #e8d8ce;
}

main #banner #scroll_down a:hover i {
  color: #e8d8ce;
}

main #content_index .row {
  margin-top: 50px;
}

main #content_index .section {
  margin-bottom: 25px;
  display: block;
}

main #content_index .section a {
  display: block;
  text-decoration: none;
  height: 100%;
  background-color: #e8d8ce;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #content_index .section a h3,
main #content_index .section a p {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #content_index .section a .img_ctn {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

main #content_index .section a .img_ctn img {
  -o-object-fit: cover;
     object-fit: cover;
}

main #content_index .section a:hover {
  background-color: #5a3c2a;
}

main #content_index .section a:hover h3 {
  color: #5a3c2a;
  background-color: #e8d8ce;
}

main #content_index .section a:hover p {
  color: #e8d8ce;
}

main #contact {
  margin-bottom: 50px;
}

main #contact .row {
  margin-top: 50px;
}

main #contact #contact_form {
  background-color: #c8a088;
}

main #contact #contact_form table,
main #contact #contact_form input,
main #contact #contact_form textarea {
  width: 100%;
  border: 2px solid #c8a088;
}

main #contact #contact_form table input {
  height: 3em;
  padding-left: 5px;
  background-color: #e8d8ce;
}

main #contact #contact_form table textarea {
  resize: none;
  height: 10em;
  background-color: #e8d8ce;
}

main #contact #contact_form #contact_form_submit {
  padding: 2px 4px;
  background-color: #5a3c2a;
}

main #contact #contact_form #contact_form_submit button {
  font-size: 1.25em;
  background-color: #5a3c2a;
  border: 2px solid #e8d8ce;
  color: #e8d8ce;
  padding: 5px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #contact #contact_form #contact_form_submit button:hover {
  color: #5a3c2a;
  border: 2px solid #5a3c2a;
  background-color: #D8BCAB;
}

main #contact h3,
main #contact p {
  color: #5a3c2a;
}

main #scroll_up {
  text-align: center;
}

main #scroll_up a {
  display: inline-block;
  margin-bottom: 20px;
  color: #5a3c2a;
  padding: 0px 10px;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

main #scroll_up a:hover {
  background-color: #5a3c2a;
  color: #e8d8ce;
}

main #scroll_up a:hover i {
  color: #e8d8ce;
}

main #banner_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/banner/pexels-artem-podrez-7233316.jpg");
}

main #banner_sub h1 {
  color: #5a3c2a;
}

main .name_card_ctn {
  margin-top: 50px;
  margin-bottom: 50px;
}

main .name_card_ctn .about_content .name_card_content .bio_img {
  background-color: #e8d8ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .name_card_ctn .about_content .name_card_content .bio_img .selfie_container {
  width: 80%;
  height: 80%;
  margin: auto;
}

main .name_card_ctn .about_content .name_card_content .bio_img .selfie_container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #D8BCAB;
}

main .name_card_ctn .about_content .name_card_content .bio_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #e8d8ce;
}

main .name_card_ctn .about_content .name_card_content .bio_p p {
  margin: 0;
}

main .name_card_ctn .about_content .name_card_content .bio_p a {
  color: #5a3c2a;
  text-decoration: underline;
}

main .name_card_ctn .about_content .name_card_content .bio_p .card_line {
  display: block;
  background-color: #D8BCAB;
  height: 1px;
  margin: 0;
  width: 100%;
}

main .code_section {
  margin-bottom: 30px;
}

main .code_section .code_card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
}

main .code_section .code_card .code_head {
  background-color: #5a3c2a;
  padding-top: 5px;
}

main .code_section .code_card .code_head h3 {
  width: 100%;
  font-size: 1.5rem;
}

main .code_section .code_card .code_head h3 i {
  font-size: 1.5rem;
  color: #e8d8ce;
  padding: 5px;
}

main .code_section .code_card .code_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  background-color: #e8d8ce;
}

main .code_section .code_card .code_content h3 {
  color: #5a3c2a;
  font-size: 1.5rem;
}

main .code_section .code_card .code_content p {
  width: 100%;
}

main .code_section .code_card .code_content span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .code_section .code_card .code_content span i {
  padding-right: 5px;
  color: #c8a088;
  text-shadow: none;
}

.code_example_card_ctn {
  margin-bottom: 20px;
}

.code_example_card_ctn .code_example_card_squeeze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 2%;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card {
  width: 100%;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code {
  width: 75%;
  margin: auto;
  background-color: #c8a088;
  display: block;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h3 {
  width: 100%;
  font-size: 1.5rem;
  color: #e8d8ce;
  background-color: #5a3c2a;
  padding: 5px;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h4 {
  font-size: 1rem;
  background-color: #c8a088;
  padding: 5px 10px;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h4 a {
  color: #5a3c2a;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h4 a i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h4 a:hover {
  color: #e8d8ce;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code h4 a:hover i {
  color: #e8d8ce;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code p {
  color: #5a3c2a;
  background-color: #e8d8ce;
  padding: 5px;
  width: 80%;
  margin: auto;
  overflow-x: scroll;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code span {
  width: 80%;
  display: block;
  text-align: right;
  margin: auto;
  padding: 10px;
  background-color: #c8a088;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code span a i {
  font-size: 1.5em;
  color: #5a3c2a;
  padding-right: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.code_example_card_ctn .code_example_card_squeeze .code_example_card .code span a:hover i {
  color: #e8d8ce;
}

.card_spacing {
  margin-bottom: 40px;
}

.scion_intro,
.treehouse_section,
.netmatters_section {
  display: block;
  background-color: #e8d8ce;
}

.scion_intro {
  margin-top: 50px;
}

.scion_intro h3 {
  background-color: #5a3c2a;
  color: #e8d8ce;
  padding: 5px;
}

.scion_intro p {
  padding: 5px;
}

.treehouse_section,
.netmatters_section {
  padding-top: 20px;
  margin-top: 20px;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.treehouse_section .img_logo_tree,
.treehouse_section .img_logo_nm,
.netmatters_section .img_logo_tree,
.netmatters_section .img_logo_nm {
  display: block;
  max-width: 250px;
  max-height: 80px;
}

.treehouse_section .img_logo_tree,
.netmatters_section .img_logo_tree {
  margin: 0px auto;
}

.treehouse_section .img_logo_tree img,
.netmatters_section .img_logo_tree img {
  width: 100%;
  height: 100%;
}

.treehouse_section .img_logo_nm,
.netmatters_section .img_logo_nm {
  margin: 20px auto;
}

.treehouse_section .img_logo_nm img,
.netmatters_section .img_logo_nm img {
  width: 100%;
  height: 100%;
}

.treehouse_section p,
.netmatters_section p {
  padding: 5px;
}

.treehouse_section h4,
.netmatters_section h4 {
  padding: 5px;
  color: #5a3c2a;
}

.treehouse_section .nm_list,
.netmatters_section .nm_list {
  padding-left: 25px;
  display: inline-block;
}

.treehouse_section .nm_list ul,
.netmatters_section .nm_list ul {
  display: inline-block;
  width: 100%;
}

.treehouse_section .nm_list ul li,
.netmatters_section .nm_list ul li {
  list-style-type: square;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

.treehouse_section .shrink,
.netmatters_section .shrink {
  padding: 5px;
  word-wrap: break-word;
}

.treehouse_section:hover,
.netmatters_section:hover {
  text-decoration: none;
  background-color: #5a3c2a;
}

.treehouse_section:hover h4,
.treehouse_section:hover p,
.netmatters_section:hover h4,
.netmatters_section:hover p {
  color: #e8d8ce;
}

.treehouse_section:hover ul li,
.netmatters_section:hover ul li {
  color: #e8d8ce;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5a3c2a;
}

* h1 {
  font-size: 2.5rem;
}

* h2 {
  font-size: 2rem;
}

* h3 {
  font-size: 1.5rem;
}

* h4 {
  font-size: 1rem;
}

* h1,
* h2,
* h3,
* h4,
* p,
* a,
* sup {
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

#site_wrapper ul {
  list-style-type: none;
  padding-left: 0;
}

#site_wrapper main {
  width: 100%;
  background-color: #D8BCAB;
}

#site_wrapper main .card_title {
  width: 100%;
  padding: 5px;
  margin: 0;
  display: block;
  background-color: #5a3c2a;
  color: #e8d8ce;
  font-size: 1.5rem;
}

#site_wrapper main .card_desc {
  width: 100%;
  padding: 5px;
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */