main #banner {
  height: 100vh;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #banner .banner_text {
  color: white;
  text-align: center;
  margin: auto;
}

main #banner #scroll_down {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: auto;
}

main #banner #scroll_down i {
  color: white;
}

main #banner #scroll_down a {
  display: inline-block;
  margin-bottom: 20px;
}

main #content_index .row {
  margin-top: 50px;
}

main #content_index .section {
  margin-bottom: 25px;
  display: block;
}

main #content_index .section a {
  display: block;
  text-decoration: none;
  height: 100%;
  background-color: #e8d8ce;
}

main #content_index .section a .img_ctn {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

main #content_index .section a .img_ctn img {
  -o-object-fit: cover;
     object-fit: cover;
}

main #contact {
  margin-bottom: 50px;
}

main #contact .row {
  margin-top: 50px;
}

main #contact #contact_form {
  border: 1px solid red;
}

main #contact #contact_form table,
main #contact #contact_form input,
main #contact #contact_form textarea {
  width: 100%;
}

main #contact #contact_form table {
  border-collapse: unset;
}

main #contact #contact_form input {
  height: 2em;
}

main #contact #contact_form textarea {
  resize: none;
  height: 10em;
}

main #banner_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
}

main .name_card_ctn {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #5a3c2a;
}

main .name_card_ctn .bio_img {
  width: 20%;
}

main .name_card_ctn .bio_img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

main .name_card_ctn .bio_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

main .name_card_ctn .bio_p p {
  margin: 0;
}

main .name_card_ctn .card_line {
  display: block;
  background-color: #5a3c2a;
  height: 1px;
  margin: auto;
}

#site_wrapper #navbar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 100%;
}

#site_wrapper #navbar nav {
  background-color: #c8a088;
  border-right: 2px solid #5a3c2a;
  height: 100vh;
  position: fixed;
  width: 200px;
}

#site_wrapper #navbar nav #logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #5a3c2a;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  text-decoration: none;
}

#site_wrapper #navbar nav #logo_container span {
  color: #e8d8ce;
}

#site_wrapper #navbar nav #logo_container span sup {
  position: relative;
  color: #D8BCAB;
  font-size: 2em;
  border: 1px solid #D8BCAB;
  padding: 0.1em;
  z-index: 0;
  line-height: 0;
  top: 0;
}

#site_wrapper #navbar nav #logo_container span sup:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 3px solid #D8BCAB;
}

#site_wrapper #navbar nav #logo_container:hover {
  background-color: #c8a088;
}

#site_wrapper #navbar nav #logo_container:hover span sup {
  color: #5a3c2a;
  border-color: #5a3c2a;
}

#site_wrapper #navbar nav #logo_container:hover span sup:before {
  color: #5a3c2a;
  border-color: #5a3c2a;
}

#site_wrapper #navbar nav ul {
  padding-left: 1em;
  padding-right: 1em;
}

#site_wrapper #navbar nav ul li {
  height: 100%;
  margin-top: 1.5em;
}

#site_wrapper #navbar nav ul li a {
  height: 100%;
  width: 100%;
  display: block;
}

#site_wrapper #navbar nav .nav_btn {
  font-size: 1.25em;
  color: #5a3c2a;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
}

#site_wrapper #navbar nav .nav_btn:hover {
  color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn:active:before, #site_wrapper #navbar nav .nav_btn:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact {
  font-size: 1.25em;
  color: #5a3c2a;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
  border-top: 1px solid #5a3c2a;
  border-bottom: 1px solid #5a3c2a;
  position: relative;
}

#site_wrapper #navbar nav .nav_btn_contact:hover {
  color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active:before, #site_wrapper #navbar nav .nav_btn_contact:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  top: -6px;
  width: 100%;
  left: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  bottom: -6px;
  left: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:hover:before, #site_wrapper #navbar nav .nav_btn_contact:hover:after {
  background-color: #e8d8ce;
}

#site_wrapper #navbar nav .nav_btn_contact:hover {
  border-color: #e8d8ce;
}

#site_wrapper #navbar nav .nav_btn_contact:active {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .nav_btn_contact:active:before, #site_wrapper #navbar nav .nav_btn_contact:active:after {
  border-color: #e8d8ce;
  background-color: #5a3c2a;
}

#site_wrapper #navbar nav .li_contact {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

#site_wrapper #navbar nav .social_icons_ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner {
  text-align: center;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner .nav_social {
  font-size: 3em;
  color: #5a3c2a;
  text-align: center;
}

#site_wrapper #navbar nav .social_icons_ctn .social_icons_ctn_inner .nav_social:hover i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #e8d8ce;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5a3c2a;
}

* h1,
* h2,
* h3,
* p,
* a,
* sup {
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

#site_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#site_wrapper ul {
  list-style-type: none;
  padding-left: 0;
}

#site_wrapper main {
  width: 100%;
  background-color: #D8BCAB;
}

#site_wrapper main .card_title {
  width: 100%;
  padding: 5px;
  margin: 0;
  display: block;
  background-color: #5a3c2a;
  color: #e8d8ce;
  font-size: 1.5rem;
}

#site_wrapper main .card_desc {
  width: 100%;
  padding: 5px;
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */