@import 'variables.scss';
@import 'mixins.scss';
@import 'index';
@import 'aboutme';
@import 'navbar';


* {
    box-sizing: border-box;
    
    color: $accent-colour;


    h1,
    h2,
    p,
    a,
    sup {
        color: transparent;
        text-shadow: 0 0 1px rgba(0,0,0,0.9);
    }
}


#site_wrapper {
    display: flex;
    flex-wrap: nowrap;



    ul {
        list-style-type: none;
        padding-left: 0;
    }


    main {
        // order:0;
        width: 100%;
        background-color: $primarybackground-colour;

        
    }
}