@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'index';
@import 'aboutme';
@import 'coding_examples';
@import 'scs_scheme';


* {
    box-sizing: border-box;
    
    color: $accent-colour;

    h1 {
        font-size: $H1;
    }
    h2 {
        font-size: $H2;
    }
    h3 {
        font-size: $H3;
    }
    h4 {
        font-size: $H4;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    a,
    sup {
        color: transparent;
        text-shadow: 0 0 1px rgba(0,0,0,0.9);
    }
}



#site_wrapper {
    display: flex;
    flex-wrap: nowrap;

    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .darken {
        background-color: black;
        position: fixed;
        z-index: 1000000;
        width:100%;
        height: 100%;

        
    }



    main {
        // position: fixed;       
    
    .freeze {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999999999;
        width: 100vw;
        height: 100vh;
        left:200px;
        top:0;
    
        }

        // order:0;
        width: 100%;
        background-color: $primarybackground-colour;


        .card_title {
            width: 100%;
            padding: 5px;
            margin: 0;
            display: block;
            background-color: $accent-colour;
            color: $active-button-color;
            font-size: $H3;
            
        }

        .card_desc {
            width: 100%;
            padding: 5px;
            display:inline-block;
            
        }
    }
}
