// COLOUR PALLETTE

$primarybackground-colour: #D8BCAB !default;
$accent-colour: darken($primarybackground-colour, 50%)  !default;
$default-button: darken($primarybackground-colour, 10%) !default;
$active-button-color: lighten($primarybackground-colour, 10%) !default;

// FONT SIZES

$H1: 2.5rem;
$H2: 2rem;
$H3: 1.5rem; 
$H4: 1rem;

